.register {
  background-color: var(--background-sec);
  height: 100vh;
  padding: 30px;

  .reg-container {
    display: flex;
    flex-direction: column;
    width: 440px;
    margin-right: auto;
    margin-left: auto;
  }

  img {
    height: 40px;
    width: 40px;
    margin-right: auto;
    margin-left: auto;
  }

  .title {
    margin-top: 20px;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
  }

  .email-text {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 7px;
  }

  .email {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    .email-input {
      flex-grow: 1;
      background-color: transparent;
      color: white;
      border: 1px solid gray;
      border-radius: 5px;
      height: 44px;
      padding: 0 10px;
      transition: 0.15s;
  
      &:hover {
        border: 1px solid lightgray;
      }
  
      &::placeholder {
        color: gray;
      }
    }

    .email-alert-brd {
      border: 1px solid #e91429;
    }

    .alert {
      margin-top: 5px;
      color: #e35e5e;
      transition: 0.2s;
      font-size: 14px;
    }

    .hide {
      display: none;
    }
  }

  .btn {
    font-weight: bold;
    border-radius: 30px;
    padding: 10px;
    transition: 0.1s;
  }

  .next {
    color: black;
    background-color: var(--accent-color);

    &:hover {
      background-color: var(--accent-color-lighter);
    }
  }

  .upper-sep {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;

    &::before {
      content: " ";
      height: 1px;
      background-color: #727272;
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
    }

    .abs {
      background-color: var(--background-sec);
      padding: 0 12px;
      position: relative;
      display: inline-block;
    }
  }

  .other {
    display: flex;
    border: 1px solid gray;
    margin-bottom: 10px;

    .text {
      margin-left: auto;
      margin-right: auto;
    }

    &:hover {
      border: 1px solid white;
    }
  }

  .separator {
    margin-top: 20px;
    border-color: #292929;
  }

  .or {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

    .text {
      color: lightgray;
      margin-right: 5px;
    }

    .href {
      text-decoration: underline;
    }
  }

  .progress-brd {
    margin-top: 20px;
    background-color: gray;
    
    @keyframes progress-fin-33 {
      from { width: 0; }
      to { width: 33%; }
    }

    .progress-perc {
      background-color: var(--accent-color);
      height: 2px;
      width: 33%;
      animation-name: progress-fin-33;
      animation-duration: 1s;
    }
  }

  .reg-progress-info {
    display: flex;
    align-items: center;
    padding-top: 10px;
    
    .back-btn {
      left: 0;
      padding: 20px;
    }

    .info {
      .step {
        color: lightgray;
      }

      .step-info {
        font-weight: bold;
      }
    }
  }

  .password-text {
    font-weight: bold;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 7px;
    margin-left: 62px;
  }

  .password {
    display: flex;
    flex-direction: column;
    margin-left: 62px;
    margin-right: 62px;
    margin-bottom: 20px;

    .password-input {
      flex-grow: 1;
      background-color: transparent;
      color: white;
      border: 1px solid gray;
      border-radius: 5px;
      height: 44px;
      padding: 0 10px;
      transition: 0.15s;
  
      &:hover {
        border: 1px solid lightgray;
      }
  
      &::placeholder {
        color: gray;
      }
    }

    .password-alert-brd {
      border: 1px solid #e91429;
    }

    .alert {
      margin-top: 5px;
      color: #e35e5e;
      transition: 0.2s;
      font-size: 14px;
    }

    .hide {
      display: none;
    }
  } 

  .stepf {
    margin-left: 62px;
    margin-right: 62px;
  }
}
