.register {
  background-color: var(--background-sec);
  height: 100vh;
  padding: 30px;

  .reg-container {
    display: flex;
    flex-direction: column;
    width: 440px;
    margin-right: auto;
    margin-left: auto;
  }

  img {
    height: 40px;
    width: 40px;
    margin-right: auto;
    margin-left: auto;
  }

  .title {
    margin-top: 20px;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
  }

  .email-text {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 7px;
  }

  .email {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    .email-input {
      flex-grow: 1;
      background-color: transparent;
      color: white;
      border: 1px solid gray;
      border-radius: 5px;
      height: 44px;
      padding: 0 10px;
      transition: 0.15s;

      &:hover {
        border: 1px solid lightgray;
      }

      &::placeholder {
        color: gray;
      }
    }
  }

  .btn {
    font-weight: bold;
    border-radius: 30px;
    padding: 10px;
    transition: 0.1s;
  }

  .next {
    color: black;
    background-color: var(--accent-color);

    &:hover {
      background-color: var(--accent-color-lighter);
    }
  }

  .upper-sep {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;

    &::before {
      content: " ";
      height: 1px;
      background-color: #727272;
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
    }

    .abs {
      background-color: var(--background-sec);
      padding: 0 12px;
      position: relative;
      display: inline-block;
    }
  }

  .other {
    display: flex;
    border: 1px solid gray;
    margin-bottom: 10px;

    .text {
      margin-left: auto;
      margin-right: auto;
    }

    &:hover {
      border: 1px solid white;
    }
  }

  .separator {
    margin-top: 20px;
    border-color: #292929;
  }

  .or {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

    .text {
      color: lightgray;
      margin-right: 5px;
    }

    .href {
      text-decoration: underline;
    }
  }

  .progress-brd {
    margin-top: 20px;
    background-color: gray;

    @keyframes progress-fin-33 {
      from {
        width: 0;
      }
      to {
        width: 33%;
      }
    }

    @keyframes progress-fin-67 {
      from {
        width: 33%;
      }
      to {
        width: 67%;
      }
    }

    @keyframes progress-fin-100 {
      from {
        width: 67%;
      }
      to {
        width: 100%;
      }
    }

    .progress-perc33 {
      background-color: var(--accent-color);
      height: 2px;
      width: 33%;
      animation-name: progress-fin-33;
      animation-duration: 1s;
    }

    .progress-perc67 {
      background-color: var(--accent-color);
      height: 2px;
      width: 67%;
      animation-name: progress-fin-67;
      animation-duration: 1s;
    }

    .progress-perc100 {
      background-color: var(--accent-color);
      height: 2px;
      width: 100%;
      animation-name: progress-fin-100;
      animation-duration: 1s;
    }
  }

  .reg-progress-info {
    display: flex;
    align-items: center;
    padding-top: 10px;

    .back-btn {
      left: 0;
      padding: 20px;
    }

    .info {
      .step {
        color: lightgray;
      }

      .step-info {
        font-weight: bold;
      }
    }
  }

  .password-text {
    font-weight: bold;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 7px;
    margin-left: 62px;
  }

  .password {
    display: flex;
    flex-direction: column;
    margin-left: 62px;
    margin-right: 62px;
    margin-bottom: 20px;

    .password-input {
      flex-grow: 1;
      background-color: transparent;
      color: white;
      border: 1px solid gray;
      border-radius: 5px;
      height: 44px;
      padding: 0 10px;
      transition: 0.15s;

      &:hover {
        border: 1px solid lightgray;
      }

      &::placeholder {
        color: gray;
      }
    }
  }

  form {
    margin-left: 62px;
    margin-right: 62px;

    .label-text {
      font-weight: bold;
      font-size: 14px;
      margin-top: 20px;
      margin-bottom: 7px;
      display: block;
    }

    .input {
      flex-grow: 1;
      background-color: transparent;
      color: white;
      border: 1px solid gray;
      border-radius: 5px;
      height: 44px;
      width: 100%;
      padding: 0 10px;
      transition: 0.15s;

      &:hover {
        border: 1px solid lightgray;
      }

      &::placeholder {
        color: gray;
      }
    }

    .input-container {
      display: inline-block;
      position: relative;
      padding-left: 25px;
      padding-right: 20px;
      margin-bottom: 10px;
      cursor: pointer;
      font-size: 14px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }

      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 16px;
        width: 16px;
        background-color: transparent;
        border: 1px solid #707070;
        border-radius: 50%;

        &:after {
          content: "";
          position: absolute;
          display: none;
        }
      }

      & input:checked ~ .checkmark {
        background-color: var(--accent-color);
        border: none;
      }

      &:hover .checkmark {
        border: 1px solid var(--accent-color);
      }

      & input:checked ~ .checkmark:after {
        display: block;
      }

      & .checkmark:after {
        top: 4px;
        left: 4px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: var(--background-sec);
      }
    }

    .in-form {
      display: block;
      width: 100%;
      margin-top: 30px;
    }
  }

  .stepf {
    margin-left: 62px;
    margin-right: 62px;
  }
}
